@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fjalla One', sans-serif;
  color: #4b5936;
  background-color: #f2dfd8;
}

#header {
  text-align: center;
  font-size: 50px;
  margin: 20px 0;
}

#intro {
  font-size: 30px;
  text-align: center;
  margin: 0 10px;
}

#main {
  display: grid;
  grid-template-columns: 50% 50%;
}

.heading {
  text-align: center;
  margin: 10px 0;
}

.view-box-container {
  padding: 0 10px;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto 50px;
}

.view-box {
  background-color: #d9c1b8;
  padding: 20px;
  border: double 4px #4b5936;
  width: 100%;
  height: 75vh;
  overflow: scroll;
  grid-column: 1 / 3;
}

.vb-container-full {
  padding: 0 10px;
  display: grid;
  grid-template-rows: 50px auto;
  grid-template-columns: auto 50px;
  grid-column: 1 / 3;
}

.invisible {
  display: none;
}

i {
  align-self: center;
  justify-self: center;
}

a:visited {
  color: #4b5936;
}

code {
  background-color: #f2dfd8;
}

@media screen and (max-width: 700px) {
  #main {
    grid-template-columns: none;
    grid-template-rows: 50% 50%;
  }
}
